html{
	overflow-x: hidden;
}
.reg{
	position: absolute;
	top: 8px;
}
.enter{
	top: 9px;
	right: -230px;
}
.main{
	padding-right: 15%;
	padding-left: 15%;
	background-color: white;
	width: 100%;
	height: 1430px;
}
.search{
	position: absolute;
	top:15%;
	left: 39%;
}
#menu > ul > li{
	display: inline-block;
}
#menu ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	text-align: center;
}
#menu{
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40px;
	background-color: white;
	position: relative;
}
#menu > ul > li a{
 	display: block;
 	background-color: white;
 	color: black;
 	padding: 2px;
 	text-align: center;
 	text-decoration: none;
 }
 #menu > ul > li{
 	border: 1px;
 }
 #menu li a:hover{
 	background-color: white;
 }
 .ad{
 	position: relative;
 	top: 2%;
 }
 .pic{
 	width: 25%;
 	height: 58px;
 	background-repeat: no-repeat;
 }
 .sort{
 	position: relative;
 	top: 3%;
 	border: 2px solid yellow;
 	height: 40px;
 }
 .first{
 	position: relative;
 	top: 5%;
 }
 .second{
 	position: relative;
 	top: 5%;
 }
 .third{
 	position: relative;
 	top: 5%;
 }
 .pict{
 	width: 320px;
 	height: 330px;
 }
 .tabl td{
 	position: relative;
 	top: 7px;
 	left: 10px;
 	float: left;
 	margin: 0px 40px 0px;
 }
 .inf{
 	position: relative;
 	top: 20%;
 	background-color: #c4c8ce;
 }
 .info{
 	padding-left: 15%;
 	padding-right: 15%; 
 	padding-bottom: 1%;
 	background-color: #c4c8ce;
 	padding-top: 2%;
 }
 .footer{
 	padding-left: 15%;
 	padding-right: 15%;
 	height: 250px;
 	background-color: #343434;
 }
.footer a{
	color: white;
}
.submenu{
	position: relative;
	top: 2%;
	background-color: #eaeaed;
	padding-bottom: 18px;
	padding-top: 15px;
}
.submenu li{
	float: left;
	margin-left: 13px;
	margin-right: 13px; 
}
.glav{
	position: absolute;
	top: 42%;
	left: 44%;
	background: #e0880d;
	color: black;
}
.panel{
	position: relative;
	top: 4%;
	padding-bottom: 20;

}
.infor li{
	list-style: none;
	float: left;
	margin-left: 20px;
	margin-right: 20px; 
}
.mai{
	padding-right: 15%;
	padding-left: 15%;
	background-color: white;
	width: 100%;
	height: 1200px;
}